<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gratitude List</title>
</head>

<body>

    <!-- Remove items form -->
    <div id="remove_items">
        <form action="/remove_items" method="POST">
            {% for item in random_items %}
            <input type="checkbox" name="check" id="{{ item }}" value="{{ item }}">
            <label for="{{ item }}" name="{{ item }}">{{ item }}</label>
            {% endfor %}
            <input type="submit" value="REMOVE ITEMS">
        </form>
    </div>


    <!-- Add items form -->
    <div id="add_item">
        <form action="/add_items" method="POST">
            <select name="select_items">
                {% for item in all_items %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="ADD ITEM">
        </form>
    </div>

</body>

</html>